* {
    font-family: Arial, Verdana, sans-serif;
    color: #e6f3ff;
    text-align: center;
}

body {
    width: 960px;
    margin: 0 auto;
    background-color: #226194;
}

nav {
    background-color: #1d517c; 
    padding: 80px;
    margin: 15px; 
}

li {
    display: inline;
    padding: 5px; 
}

section {
    overflow: auto;
    height: 100%;
}

main {
    background-color: #1d517c;
    padding: 10px;
    margin: 10px;
}


